<h1>Welcome to Crazy Events!</h1>

<%= link_to 'New event', new_event_path, class:'waves-effect waves-light btn' %>

<section class='events'>
  <% if @events%>
    <%= render @events %>
  <% end %>
  <div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div>
</section>

<section class='tags'>
  <% @tags.each do |tag|%>
    <%= link_to tag, tag_path(id: tag) %>
  <% end %>
</section>
<script type='text/javascript'>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'} }, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();

  });
</script>
